header
	width: 100%
	height: 77px
	background-image: url(/img/topleft.png)
	background-position: left top
	background-repeat: no-repeat
	background-color: #000
	position: fixed
	top: 0px
	left: 0px
	.logo
		margin-top: 17px
		margin-left: 17px
	.menu
		position: absolute
		bottom: 0px
		width: 100%
		height: 26px
		background-image: url(/img/menubg.png)
		background-repeat: repeat-x
		

