body
	background-image: url(/img/subtle_freckles.png)
	padding-top: 77px
	header
		width: 100%
		height: 77px
		background-image: url(/img/topleft.png)
		background-position: left top
		background-repeat: no-repeat
		background-color: #000
		position: fixed
		top: 0px
		left: 0px
		.logo
			margin-top: 17px
			margin-left: 17px
		.shortenlink
			display: block
			width: 17px
			height: 10px
			line-height: 10px
			position: absolute
			top: 20px
			right: 17px
		.menu
			position: absolute
			bottom: 0px
			width: 100%
			height: 26px
			background-image: url(/img/menubg.png)
			background-repeat: repeat-x
			font-size: 12px
			line-height: 27px
			color: #fff
			padding-left: 4px
			z-index: 200
			h1
				margin: 0
				padding: 0
				font-size: 12px
				line-height: 27px
				display: inline
				font-weight: normal
			a
				color: #fff
		.shorten
			z-index: 100
			position: absolute
			top: 52px
			left: 17px
			input
				border-collapse: collapse
				border: none
	h2
		color: #424242
		font-size: 20px
		line-height: 20px
		margin-top: 17px
		margin-left: 17px
		padding: 0